body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color:black;
    padding: 10px 0;
    width: 100%;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  #u{
    width:100%;
  }
  nav ul li a {
    color: rgb(225, 203, 36);
    text-decoration: none;
  
  }
  nav ul li img {
    
}
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  main {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(227, 146, 192);
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  
  .blog-post {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
 
  }

  
  .blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .blog-post p {
    font-size: 16px;
    color: #555;
  }
  
  .blog-post a {
    color: #3498db;
    text-decoration: none;
  }
  
  .blog-post a:hover {
    text-decoration:dotted;
  }
  
  
  @media screen and (max-width: 768px) {
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  #h4{ 
    color:rgb(29, 240, 13);
    font-size-adjust: 1;
    font-weight:1000;
    width:100%
  }
  #ki{
    color:blueviolet;
    font-size-adjust: 0.75;

  }
  .ju{
    width:1000px ;
    height: 35px;
    font-size-adjust:1;
    padding: 0px 0px 0px 0px;
  }
  #rt{
    text-align: center;
    font-weight: 600px;
    color: rgb(240, 15, 15);
    width:100%;
    height:50px;
    font-size-adjust:0.3;
    text-decoration-color: rgb(240, 15, 15);
    
  }
  #main{
    background-color: #3498db;
  }
  #mainn{
    /* background-color: rgb(165, 216, 123); */
    background-color: rgb(253, 215, 253);
    width: 100%
    /* border: 10px solid black;
    padding: 35px;
    background: url(https://www.shutterstock.com/image-vector/background-illustration-open-book-smoke-260nw-1061344184.jpg);
    background-repeat: no-repeat;
    background-origin: content-box; */
  }
  button{
    width: 170px;
    height: 40px;
    font-size-adjust: 1;
    background-color: #0ddf53;
    border-radius: 50%;

  }
  svg{
    width:50px;
  }
  #i{
    height:10px;
  }
  

  
  .blog-post{
    background-color: antiquewhite;
  }


  .responsive-img {
    width: 20%;
    height: 10%;
    
}
#p{
  width: 100%;
}



#profile {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profile h2 {
  text-align: center;
  color: #333;
}

#profile p {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

#profile p strong {
  color: #333;
}

@media screen and (max-width: 768px) {
  #profile {
    padding: 10px;
  }

  #profile p {
    font-size: 14px;
  }
}